
.item-size{
    margin-left: auto;
    margin-right: auto;
}
.flex-item {
      background: tomato;
      margin-top: 5px;
      margin-bottom: 5px;
      color: white;
      font-weight: bold;
      font-size: 2em;
      text-align: center;
   }
.flex-container {
      padding: 5px;
      list-style: none;
      border: 1px solid silver;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      background: lightblue;
    }
 .nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
 }

.wrap{ 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
 }   

